# X(Twitter) 网页自动翻译中文
#!name=X Auto Translate
#!desc=X/Twitter 网页版英文内容自动翻译为中文。MutationObserver 实时翻译动态加载的推文。
#!author=minimac
#!tag=翻译, X, Twitter
#!system=iOS, iPadOS, macOS
#!date=2026-05-02

# X/Twitter 网页翻译
# 原理: 拦截初始 HTML 注入翻译脚本 → MutationObserver 监听动态内容 → 实时翻译
^https://x\.com/$ url script-response-body https://raw.githubusercontent.com/zhihongzhang123/QuantumultX/main/Scripts/XTranslate.js
^https://x\.com/home url script-response-body https://raw.githubusercontent.com/zhihongzhang123/QuantumultX/main/Scripts/XTranslate.js
^https://x\.com/explore url script-response-body https://raw.githubusercontent.com/zhihongzhang123/QuantumultX/main/Scripts/XTranslate.js
^https://twitter\.com/$ url script-response-body https://raw.githubusercontent.com/zhihongzhang123/QuantumultX/main/Scripts/XTranslate.js

hostname = x.com, twitter.com
