# X (Twitter) 网页版自动翻译中文
#!name=X Web Auto Translate
#!desc=X/Twitter 网页版自动翻译为中文
#!author=minimac
#!tag=翻译, X
#!system=iOS, iPadOS, macOS
#!date=2026-05-02

# 匹配 X/Twitter 网页
^https?://([a-zA-Z0-9-]+\.)?(twitter|x)\.com/ url script-response-body https://raw.githubusercontent.com/zhihongzhang123/QuantumultX/main/Scripts/XTranslate.js

hostname = twitter.com, x.com
